.model{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: black;
  background-color: rgb(0 , 0 , 0 , .5);
  padding: 0 19px;
}

.model__open{
display: flex;
}



.model__container{
  background-color: white;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;

}

.model__form{
  margin: 36px;
}

.model__heading{
  margin: 0;
  width: 330px;
height: 23px;
font-family: Inter;
font-size: 24px;
font-weight: 900;
line-height: 29.05px;
text-align: left;
}

.model__form_name{
  width: 358px;
  height: 27.26px;
  opacity: 0px;
  margin: 55px 0 0 0;
  border: 1px solid #000000;
}
.model__form_description{
  width: 358px;
  height: 27.26px;
  border: 1px solid #000000;
  opacity: 0px;
  margin: 30px 0 0 0;
}


.model__button{
width: 358px;
height: 50px;
margin-top: 50px;
border-radius: 2px 0px 0px 0px;
opacity: 0px;
background-color: black;
font-family: Inter;
font-size: 18px;
line-height: 21.78px;
text-align: center;
color: #fff;
}


.model__close{
  background-image: url(../images/IconClose.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
}


@media screen and (max-width: 580px) {
.model__close{
  width: 26px;
  height: 26px;
  right: 0px;
  top: 35px;
}
}