.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
  color: black;
  background-color: rgb(0, 0, 0, .5);
  padding: 0 19px;
}

.modal_open {
  display: flex;
}



.modal__container {
  background-color: white;
  border-radius: 10px;
  position: relative;
  width: 430px;
  height: 330px;
  display: flex;
  flex-direction: column;

}

.modal__form {
  margin: 36px;
}

.modal__heading {
  margin: 0;
  width: 330px;
  height: 23px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-align: left;
}

.modal__input {
  width: 358px;
  height: 27.26px;
  opacity: 0px;
  margin: 55px 0 0 0;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.94px;
  text-align: left;
  padding: 0;
}


.modal__input:last-of-type {
  margin: 30px 0 0 0;
}


.modal__button {
  width: 358px;
  height: 50px;
  margin-top: 50px;
  border-radius: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: black;
  font-family: Inter;
  font-size: 18px;
  line-height: 21.78px;
  text-align: center;
  color: #fff;
  padding: 0;
}


.modal__close {
  background-image: url(../images/IconClose.svg);
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -45px;
  right: -45px;
}


@media screen and (max-width: 580px) {
  .modal__close {
    width: 26px;
    height: 26px;
    right: 0px;
    top: -35px;
  }

  .modal__container {
    width: 282px;
    height: 322px;
  }

  .modal__form {
    margin: 25px 22px;
  }

  .modal__heading {
    font-size: 18px;
    width: 238px;
    height: 22px;
  }

  .modal__input {
    margin-top: 75px;
    width: 238px;
    height: 27px;
  }

  .modal__input:last-of-type {
    margin-top: 30px;
  }

  .modal__button {
    width: 238px;
    height: 46px;
    margin-top: 45px;
    font-size: 14px;
  }

}