.page {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: black;
  color: white;
  display: flex;
  justify-content:center ;
}

.page__content{
  max-width: 1280px;
}


@media screen and (min-width:900px) {
  .page__content{
    min-width: 900px;
    margin: 0;
    margin-left: 200px;
    margin-right: 200px;
  }
}
@media screen and (max-width: 580px) {
  .page{
    min-width: 320px;
  }
  .page__content{
    margin: auto;
  }
}