.page {
  max-width: 1600px;          /* min-width was causing horzontal scroll on 1000px+ screens */
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: black;
  color: white;
}

.page__content{
  margin-left: 200px;
  margin-right: 200px;
}